{% extends 'base.html' %}

{% block body %}

<div class="container">

	<div class="">
		<div class="h-100 p-5 bg-body-tertiary border rounded-3" style='text-align:center;'>
		  <h2>Thanks for joining us.</h2>
		  <p class="" style="font-size:16px; margin-top:0.5em;">We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.</p>
		  <p class="" style="font-size:16px; margin-top:0.5em;">If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.</p>
		  <a href="{% url 'home' %}"><button class="btn btn-outline-secondary" type="button">Home Page</button></a>
		</div>
	  </div>

</div>

{% endblock %}