{% extends "base.html"%}

    {% block body %}

    <div class="container">

        <div class="">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3" style='text-align:center;'>
              <h2>Thanks for joining us.</h2>
              <p class="" style="font-size:18px; margin-top:0.5em;">We've sent an email to you , please verify your account!</p>
              <p class="" style="font-size:14px; margin-top:0.5em;">(If you don't recieve an email on inbox than please check your spam folder) or can resend the verification mail by <a href="{% url "account:resend-verif" %}" style="color:#009cda;">clicking here</a></p>
              {% comment %} <button class="btn btn-outline-secondary" type="button">Example button</button> {% endcomment %}
            </div>
          </div>

    </div>


    {% endblock %}