{% extends 'base.html' %}

{% block body %}

<div class="container">

	<div class="">
		<div class="h-100 p-5 bg-body-tertiary border rounded-3" style=''>
		  <h2 style="text-align:center;">Privacy and Policies</h2>
		  <p class="" style="font-size:14px; margin-top:0.5em; line-height:2em;">

            

By accessing or using Our Platform , You acknowledge that You have read, comprehended, and agreed to the privacy policies contained in this section
<br>Account Information:
When a user signs up on mystranger.in, The data provided by the user during registration is stored and used to make this site functional. Be aware while chatting, the other user can take screenshots or use third-party software to broadcast or record chats&videos, we will not be responsible for this. Be careful with the information you share with a stranger during a chat.
<br>Age Verification:
Since our website is for college students, the age must be 18 years or older.
<br>Terms of Service:
By accessing our Platform and filling out our onboarding forms or clicking on any notification, or messages or by supplying your information by yourself, you agree to the collection, use, storage, disclosure, and other processing of your Personal Information on the Platform by the terms of this Privacy Policy. All types of bad behaviour including abuse,nudity etc are prohibited. Violating this may lead to a ban on your account and other measures will be taken based on the circumstances. you can look at the terms and conditions in more detail by clicking on <a style="color:#009cda" href="{% url "terms-conditions" %}">Terms & Conditions</a>
<br>Legal Compliance:
We may disclose user information if required to comply with legal obligations, respond to legal requests, or protect the rights, property, or safety of our users.
<br>Security Measures:
We implement industry-standard security measures, such as encryption of passwords and secure data storage, to protect user information from unauthorized access, disclosure, alteration, and destruction. However, mystranger cannot guarantee absolute security. No internet transmission of information is ever fully secure or error-free. You should use caution whenever submitting information online.
<br>Third Parties:
We do not share personal information with third parties.
<br>USAGE OF YOUR INFORMATION:
To fulfil Our duties in connection with Your requests for goods and services via the Platform;
To run and maintain the Platform to enhance the user experience and the overall health of Our company;
Data analysis, trend monitoring, algorithm development, and database creation for rating systems, recommendation engines, and similar applications;
To adhere to all relevant laws;
To analyse how Our resources are being used, fix issues, and improve Our Products and Services, by using information.
We may use “cookies” information and “automatically collected” information We collect on the Platform to do the following:
Keep track of aggregate site use metrics like the total number of visitors and pages viewed; and
Maintain a record of your entries, contributions, and status in any promotions or other activity on the Service.
We may access or keep Your information if it is required to identify, prevent, or resolve fraud and other criminal behaviour, or to protect the Platform's or others' safety, property, or rights.
<br>User Rights:
Inform users of their rights regarding their data. This may include the right to access, correct, or delete their information.
<br>Changes to Policies:
Reserve the right to update or change your Privacy and Policies and communicate how users will be notified of any changes.
<br>Contact Information:
Users can contact us at info@mystranger.in
<br>Bots:
Use of bots of any kind to access or use the Services is prohibited and the user will be banned from site if found guilty.

<br>Account Deactivation:
Users can request account deactivation by contacting our customer support team. Upon deactivation, their personal information will no longer be visible on the platform. We will delete your information whenever you request us to do so. However, we may archive and/or retain some information for legal purposes.



          </p>
		  {% comment %} <a href="{% url 'home' %}"><button class="btn btn-outline-secondary" type="button">Home Page</button></a> {% endcomment %}
		</div>
	  </div>

</div>

{% endblock %}

