{% extends 'base.html' %}

{% block body %}

<div class="container">

	<div class="">
		<div class="h-100 p-5 bg-body-tertiary border rounded-3" style=''>
		  <h2 style="text-align:center;">Terms and Conditions</h2>
		  <p class="" style="font-size:14px; margin-top:0.5em; line-height:2em;">
            
            

<strong>Community Guidelines - </strong>

By registering/accessing or using Our Platform , You acknowledge that You have read, comprehended, and agreed to our terms&conditions and <a style="color:#009cda" href="{% url "privacy-policy" %}">privacy policies</a>.
All types of bad behaviour including abuse,nudity etc are prohibited. Violating this may lead to a ban on your account and other measures will be taken based on the circumstances.
You must be 18 years of age or older to use Mystranger. This also means we don’t allow showing videos of unaccompanied or unclothed minors, including photos in video section. if found guilty, Actions against that user will going to be taken.
Make personal connections, not biz ones. Don’t advertise, promote, or share your social handles to gain followers, sell stuff, fundraise, or campaign. 
Talking to new people can be tricky, especially when you’re interacting with different college students so be polite. Respect goes a long way.
Harassment, threats, bullying, intimidation, doxing, sextortion, blackmail, or anything intentionally done to cause harm is not allowed and actions will be taken against the guilty.
Conduct or content that involves or promotes harm or cruelty to animals is prohibited.
Mystranger is not a place for hate it's for connecting the same or different colleges students. We will never stand behind racism, religion matters, hatred, or violence based on who someone is, how they identify or what they look like. 
Respect the privacy of others. Do not attempt to obtain or share content that may reveal private personal information about individuals without their permission.
No illegal activities are allowed, ever. This means you can’t use Mystranger to buy or sell drugs or counterfeit goods or ask for assistance to help you break the law. We definitely won’t tolerate anyone using Mystranger to advocate or participate in any sort of harm involving minors or human trafficking.
Be an honest member of the Mystranger community. Don’t abuse Mystranger. Don’t use Mystranger to spread false or misleading info. Don’t spam harmful links or unsolicited content. Don’t use Mystranger to manipulate, con, or get people to send you money or anything else. Don’t submit misleading reports. Don’t use third-party apps to unlock features or game the system.



          </p>
		  {% comment %} <a href="{% url 'home' %}"><button class="btn btn-outline-secondary" type="button">Home Page</button></a> {% endcomment %}
		</div>
	  </div>

</div>

{% endblock %}
